name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install LuaJIT
      run: |
        sudo apt-get update
        sudo apt-get install -y luajit
    
    - name: Run tests
      run: |
        cd tests && LUA_PATH="../lua/?.lua;../lua/?/init.lua;;" luajit init.lua
